/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/figwheel_server.log
.DS_Store
.cpcache

# Because production js will be written here
/cljs-prod-js

# Don't upload secrets
/certs

# These are the docker images
*.tar
