/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/figwheel_server.log
.DS_Store

# Because figwheel development mode will write here
/resources/public/js
# Because production js will be written here
/cljs-prod-js

# For caddy in container
/certs
