;; This is the figwheel config file
^{:watch-dirs ["src/cljs"]
  :css-dirs ["resources/public/css"]}

;; cljsbuild compiler options
{:main frontend.core
 :output-to "target/public/js/main.js"
 :output-dir "target/public/js"
 ;; :asset-path tells the cljs compiler how to reference other js files
 ;;   main.js is dependent on.
 ;; This is the relative path from the root of the webserver
 :asset-path "js"
 :source-map true
 :source-map-timestamp true
 :closure-defines      {frontend.config/parse-path "http://localhost:3000/parse/"}}
